#global_page_user-profile-index #property_details.active,
#global_page_user-profile-index #personal_details.active,
#global_page_user-profile-index #property_verification_details.active,
#global_page_user-profile-index #application_details.active{
    color: #f58410;
}
#global_page_user-profile-index .property_btn,
#global_page_user-profile-index .submit_questions{

    width: 134px;
    padding: 6px 10px;
    font-weight: 700;
    font-size: 1em;
    border: none;
    text-transform: uppercase;
    background-color: #f58410;
    color: #fff;
    outline: none;
    -webkit-border-radius: 3px;
}
.screen_renters_subdiv{
 text-align:center;
 margin-top:32px;
}
.screen_renters_div .pro_field_wrapper{
 text-align:center;
}
#image-holder{
  width: 120px;
    min-height: 120px;
    max-height: auto;
    margin: 3px;
    padding: 3px;
}

#image-holder img {
    max-width: 100%;
    height: auto;
}
.landlord_image_holder{
    width: 200px;
    min-height: 200px;
    margin: 0 auto;
}
.landlord_image_holder img{
    width: 200px;
}
.task_head{
font-weight: 600;
}
 .property_list_spl .qwerty img{
width:24px;
}
#global_page_user-index-apartments .property_list_spl{
  float:left;
}
 .search_apartment  {
        width: 330px;
        height: 40px;
        padding: 10px 5px;
        float: left;    
        font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
        border: 0;
        background: #eee;
        -moz-border-radius: 3px 0 0 3px;
        -webkit-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;      
    }
    
     .search_apartment :focus {
        outline: 0;
        background: #fff;
        -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    
     .search_apartment ::-webkit-.search_apartment -placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }
    
     .search_apartment :-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
    
     .search_apartment :-ms-.search_apartment -placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }    
    
     .search_apartment_btn {
		overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        width: 70px;
        font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
        color: #fff;
        text-transform: uppercase;
        background: #d83c3c;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;      
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }   
      
     .search_apartment_btn:hover{		
        background: #e54040;
    }	
      
     .search_apartment_btn:active,
     .search_apartment_btn:focus{   
        background: #c42f2f;    
    }
    
     .search_apartment_btn:before {
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent #d83c3c transparent;
        top: 12px;
        left: -6px;
    }
    
     .search_apartment_btn:hover:before{
        border-right-color: #e54040;
    }
    
     .search_apartment_btn:focus:before{
        border-right-color: #c42f2f;
    }    
    
     .search_apartment_btn::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
   .searchform-wrapper {
        width: 450px;
        padding: 15px;
        margin: 66px auto 50px auto;
        background: #444;
        background: rgba(0,0,0,.2);
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
        box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    }
  .cf:before, .cf:after{
      content:"";
      display:table;
    }
    
    .cf:after{
      clear:both;
    }

    .cf{
      zoom:1;
    }

